.FrySection {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

.FryRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
}

.searchBar {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid var(--custom-text-gray);
    border-radius: 5px;
    outline: none;
    width: 50vw;
    background-color: var(--custom-bg-gray);
}

.saveButton {
    position: absolute;
    left: calc(100vw - 100px);
    top: 20px;
    border: none;
    background-color: var(--clemson-orange);
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    transition: box-shadow 0.2s;
}

.saveButton:hover {
    box-shadow: 0 0 10px var(--clemson-purple);
}

@media (max-aspect-ratio: 1/1) {
    .FryRow {
        flex-direction: column;
    }

    .searchBar {
        width: 90%;
        font-size: 30px;
    }
}

@media (prefers-color-scheme: dark) {
    .searchBar {
        color: white;
    }
}