.headerTitle {
    margin-top: 20px;
    font-size: 40px;
}

.headerSubtitle {
    color: var(--custom-text-gray);
    margin-top: 10px;
}

.header {
    background-color: var(--custom-bg-gray);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsButton {
    position: absolute;
    left: calc(100vw - 60px);
    top: 20px;
    width: 40px;
    height: 40px;
    fill: var(--custom-text-gray);
    transition: fill 0.2s;
}

.settingsButton:hover, .infoButton:hover {
    fill: var(--clemson-purple);
}

.discordLink {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    fill: var(--custom-text-gray);
    transition: fill 0.2s;
}

.discordLink:hover {
    fill: #5865F2;
}

.githubLink {
    position: absolute;
    left: 80px;
    top: 20px;
    width: 40px;
    height: 40px;
    fill: var(--custom-text-gray);
    transition: fill 0.2s;
}

.githubLink:hover {
    fill: black;
}

.infoButton {
    position: absolute;
    left: calc(100vw - 110px);
    top: 20px;
    width: 40px;
    height: 40px;
    scale: 0.9;
    fill: var(--custom-text-gray);
    transition: fill 0.2s;
}

@media (max-aspect-ratio: 1/1) {
    .header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .headerSubtitle {
        display: none;
    }

    .headerTitle {
        font-size: 70px;
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        .header {
            background-color: black;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .settingsButton:hover, .infoButton:hover {
        fill: var(--clemson-orange);
    }

    .githubLink:hover {
        fill: #555;
    }
}