@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.cardtitle {
    font-weight: 800;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #F56600;
    color: #fff;
    padding: 3px 10px;
}

.cardtumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.cardtumb img {
    max-width: 100%;
    max-height: 100%;
}

.carddetails {
    padding: 30px;
}

.cardcatagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.carddetails h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.carddetails h4 a:hover {
    color: #fbb72c;
}

.carddetails p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.cardbottomdetails {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.cardbottomdetails div {
    float: left;
    width: 50%;
}

.cardlinks {
    text-align: right;
}

.cardlinks a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.cardlinks a:hover {
    color: #fbb72c;
}