.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 30px 0;
    max-width: 800px;
    gap: 50px;
    overflow: hidden;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.sectionImage {
    flex: 0 0 20%;
    object-fit: contain;
    height: 100%;
    max-height: 200px;
}

.sectionHeading {
    font-size: 2rem;
    font-weight: 600;
}

.sectionText {
    font-size: 1.2rem;
    font-weight: 400;
}

.pageTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
}

.link {
    color: #000;
}

.backButton {
    position: absolute;
    font-size: 50px;
    font-weight: 800;
    text-decoration: none;
    color: #000;
    top: 50px;
    left: calc(((100vw - 800px) / 2) + 20px);
}

@media screen and (max-width: 800px) {
    .sectionContainer {
        flex-direction: column;
        gap: 20px;
    }

    .hideOnMobile {
        display: none;
    }

    .sectionImage {
        max-height: 100%;
        width: 100%;
    }

    .backButton {
        left: 20px;
    }
}

/* dark mode media query*/
@media (prefers-color-scheme: dark) {

    .link {
        color: #FFF;
    }
}