:root {
  --custom-bg-gray: #F2F2F2;
  --custom-text-gray: #727272;
  --clemson-orange: #F37500;
  --clemson-purple: #522D80;
}

* {
  font-family: "Libre Franklin", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-padded {
  padding: 0 20vw 0 20vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --custom-text-gray: #F2F2F2;
    --custom-bg-gray: #2b2b2b;
  }

  html, body {
    background-color: black;
    color: white;
  }
}